@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode styles */
.dark {
  background-color: #ffffff;
  color: #ffffff;
}

/* Gradient background */
body {
  background: linear-gradient(135deg, #499ecd, #4f51a5, #3ddbfb);
}